html,body{
    font-size:62.5%;
    position: relative;
}
header{
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
    height: 20rem;
    display: block;
    background-color:#fff;
    font-size: 5rem;
    border: .05rem solid;
    line-height: 20rem;
  
}
#dice_two{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border: .05rem solid;
}
#two_one{
    margin: 0;
    padding:1rem ;
    font-size:5rem;
    
}
#two_two{
    margin: 0;
    padding: 1rem;
    font-size:5rem;
    float: right;
    margin-top: 5rem;
    
}
section{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border: .05rem solid;
    font-size: 5rem;
    clear: both;
}
#three_one{
    margin: 0;
    padding:.5rem;
    float: left;
    width: 80%;
    height: 5rem;
    border-style: hidden
}
#three_two{
    margin: 0 auto;
  
    padding: 0;
    text-align: center;
    width: 100%;
    height: 6rem;
    border-style: hidden;
    margin-top:7rem;
  
}
#three_three{
    margin: 0;
    padding: .5rem;
    width:90%;
    height: 5rem;

    text-align: right;
    border-style: hidden
}
span{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
    height: 20rem;
    display: block;
    background-color: #fff;
    border: .05rem solid;
    font-size: 5rem;
    clear: both;
}
#four_one{
    width: 45%;
    height: 5rem;
    margin: 0;
    padding:.5rem;
    float: left;
   
    
}
#four_two{
    width: 45%;
    height: 5rem;
    margin: 0;
    padding: .5rem;
    float: right;
    text-align: right;
   
}
#four_three{
    width: 45%;
    height: 5rem;
    margin: 0;
    padding:.5rem;
    margin-top: 7rem;
    float: left;
   
    
}
#four_four{
     width: 45%;
    height: 5rem;
    margin: 0;
    padding: .5rem;
    float: right;
    margin-top: 7rem;
    text-align: right
   
}


#dice_five{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border: .05rem solid;
}
#five_top{
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: .5rem;
    height: 5rem;
    border-style: hidden;
    
}
#top{
    width: calc(95%/2);
    float: left;
}
#top_two{
    text-align: right;
}
#five{
    width: 100%;
    text-align: center;
    height: 4rem;
    border-style: hidden;
    
}
#five_bottom{
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: .5rem;
    height: 4rem;
    float: left;
    text-align: left;
    border-style: hidden;
    margin-top:2rem;
}
#bottom{
    width: calc(95%/2);
    float: left;
}

#bottom_two{
    text-align: right
}
footer{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    border: .05rem solid;
    clear: both;
    
}
#six_one{
    display: inline-block;
    margin: 0 auto;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: .3rem;
    width: 20%;
    float: left;
    height:4rem;
    border-radius: 50%;
    background-color: black;
}

#six_two{
    display: inline-block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: .3rem;
    width: 20%;
    height:4rem;
    border-radius: 50%;
    background-color: black;
    margin-left: 8rem;
}

#six_three{
    display: inline-block;
    margin: 0 auto;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: .3rem;
    width: 20%;
    float: left;
    height:4rem;
    border-radius: 50%;
    background-color: black;
}
#six_four{
    display: inline-block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: .3rem;
    width: 20%;
    height:4rem;
    border-radius: 50%;
    background-color: black;
    margin-left: 8rem;
   
}
#six_five{
   display: inline-block;
    margin: 0 auto;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: .3rem;
    width: 20%;
    float: left;
    height:4rem;
    border-radius: 50%;
    background-color: black;
}
#six_six{
    display: inline-block;
    margin: 0 auto;
    margin-top: 1rem;
    padding: .3rem;
    width: 20%;
    height:4rem;
    border-radius: 50%;
    background-color: black;
    margin-left: 8rem;
}
